.button{
    padding: 20px 40px;
    border-radius: var(--rounded-lg);
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    &--primary{
        background-color: var(--color-primary);
        transition: var(--transition-3s);
        color: var(--color-link );
        &-s{
            background-color: var(--color-primary-secondary);
            color: var(--color-link);
            transition: var(--transition-3s);
            &:hover{
                opacity: 0.7;
            }
        }
        &:hover{
            opacity: 0.7;
        }
    }
    &--filter{
        padding: 0;
    }
    &__to-top{
        display: none;
        padding: 10px;
        position: fixed;
        bottom: 10px;
        right: 10px;
        background-color: var(--color-primary-secondary);
        border-radius: 50%;
        color: var(--color-link);
    }
}
.show{
    display: flex;
}