.about{
    padding: 125px 0;
    background-color: var(--color-primary);
    color: var(--color-link);
    &__container{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__block{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        gap: 30px;
    }
    &__left{
        text-align: right;
    }
    &__title{
        font-size: 30px;
        margin-bottom: 15px;
        font-weight: 600;
    }
    &__description{
        font-size: 18px;
    }
    &__Image{
        width: 100%;
        max-width: 500px;
        max-height: 500px;
        border-radius: 80px;
        object-fit: cover;
        margin-inline: auto;
    }

}