.about{
    padding: 125px 0;
    background-color: var(--color-primary);
    color: var(--color-link);
    &__title{
        margin-bottom: 30px;
    }
    &__list{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 20px;
        @include small-tablet{
            grid-template-columns: repeat(2,1fr);
        }
        @include small-mobile{
            grid-template-columns: repeat(1,1fr);
        }
    }
    &__item{
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 40px;
        background-color: var(--color-primary-secondary);
        width: fit-content;
        border-radius: var(--rounded-lg);
        width: 100%;
        height: 100%;
    }
    &__text{
        font-size: 18px;
        text-align: center;
    }
}