.header{
    width: 100%;
    height: 100px;
    z-index: 9999;
    position: sticky;
    top: 0;
    @include small-tablet{
        height: auto;
        padding: 15px 0;
    }
    &__container{
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;
        @include small-tablet{
            justify-content: flex-end;
        }
    }
    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        transition: var(--transition-3s);
        &--active{
            overflow: auto;
            top: 0!important;
            @include mb{
                padding: 10px;
            }
        }
        @include small-tablet{
            top: -100vh;
            width: 100%;
            padding: 20px;
            background-color: var(--color-link);
            position: fixed;
            overflow: hidden;
            left: 0;
            height: 100vh;
            z-index: 9999;
            flex-direction: column;
            gap: 20px;
        }
    }
    &__menu{
        display: flex;
        align-items: center;
        gap: 20px;
        @include small-tablet{
            flex-direction: column;
        }
    }
    &__item{
        padding: 5px 10px;
        border-radius: var(--rounded-lg);
        transition: var(--transition-3s);
        &:hover{
            background-color: var(--color-primary);
            color: var(--color-link);
        }
    }
    &__button{
        &-menu{
            display: none;
            padding: 10px;
            @include small-tablet{
                display: flex;
            }
        }
        &-close{
            padding: 5px;
            position: absolute;
            right: 20px;
            top: 20px;
            display: none;
            @include small-tablet{
                display: flex;
                border-radius: 50%;
            }
        }
    }
}