.race{
    padding: 125px 0;   
    @include small-tablet{
        height: 100%;
    }
    @include mb{
        padding: 75px 0;
    }
    &__title{
        margin-bottom: 50px;
    }
    &__check{
        margin-inline: auto;
        max-width: 800px;
        padding: 20px;
        
        border-radius: var(--rounded-lg);
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__input{
        padding: 15px 20px;
        transition: var(--transition-3s);
        border-radius: 8px;
        border: 1px solid #ccc;
        &s{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 20px;
            @include small-tablet{
                grid-template-columns: repeat(1,1fr);
            }
        }
        &:focus-visible{
            background-color: var(--color-primary);
            color: var(--color-link);
            border: 1px solid var(--color-primary);
            &::placeholder{
                color: var(--color-link);
            }
        }
    }
    &__button{
        padding: 20px 25px;
        background-color: #ccc;
        border-radius: var(--rounded-lg);
        transition: var(--transition-3s);
        &:hover{
            background-color: var(--color-primary-secondary);
            color: var(--color-link);
        }
    }
}