.sale{
    padding: 125px 0;
    background-color: var(--color-primary);
    @include mb{
        padding: 75px 0;
    }
    &__container{
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: #fff;
        margin-bottom: 20px;
        align-items: center;
        @include small-tablet{
            flex-direction: column;
            gap: 20px;
        }
    }
    &__title{
    }
    &__text{
        color: #fff;
    }
    &__button{
        display: flex;
        color: #fff;
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        align-items: center;
        gap: 10px;
        transition: var(--transition-3s);
        border-radius: var(--rounded-lg);
        &-header{
            @include small-tablet{
                display: none;
            }
        }
        &-mobile{
            display: none;
            @include small-tablet{
                margin-top: 20px;
                display: flex;
                left: 0;
            }
        }
        &:hover{
            opacity: 0.8;
        }
        &-subscribe{
            padding: 20px 15px;
            width: 100%;
            margin-top: 10px;
            border-radius: var(--rounded-lg);
            background-color: var(--color-primary-secondary);
            color: var(--color-link);
        }
    }
    &__icon{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3px;
        background-color: var(--color-primary-secondary);
        color: var(--color-link);
        border-radius: 50%;
    }
    &__list{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 25px;
        @include small-tablet{
            grid-template-columns: repeat(2,1fr);
        }
        @include mb{
            grid-template-columns: repeat(1,1fr);
        }
    }
    &__item{
        width: 100%;
        transition: var(--transition-3s);
        border-radius: var(--rounded-lg);
        &:hover{
            scale: 1.05;
        }
        @include small-tablet{
            &:hover{
                scale: 1;
            }
        }
        &-body{
            padding: 24px;
            background-color: var(--color-link);
            border-radius: 0 0 var(--rounded-lg) var(--rounded-lg) ;
        }
        &-header{
            height: 100px;
            width: 100%;
        }
        &-title{
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 15px;
        }
        &-description{
            font-size: 15px;
            line-height: 22px;
            margin-bottom: 30px;
        }
        &-text{
            color: #7a869a;
            font-size: 12px;
            letter-spacing: 1px;
            line-height: 16px;
        }
        &-subscribe{
            padding: 40px 24px 24px;
            background-color: var(--color-link);
        }
        &-input{
            padding: 0 20px 0 12px;
            height: 56px;
            width: 100%;
            margin-bottom: 16px;
            border: 1px solid var(--color-text-secondary);
            border-radius: var(--rounded-lg);
        }

    }
    &__Image{
        border-radius: var(--rounded-lg) var(--rounded-lg) 0 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}