.services{
    padding: 125px 0;
    background-color: var(--color-primary);
    @include small-tablet{
        height: 100%;
    }
    &__container{
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__title{
        color: var(--color-link);
        margin-bottom: 30px;
    }
    &__grid{
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 100px;
        max-height: 730px;
        @include small-tablet{
            gap: 50px;
            max-height: none;
            grid-template-columns: repeat(2,1fr);
        }
        @include mobile {
            justify-items: center;
            grid-template-columns: repeat(1,1fr);
            gap: 25px;
        }
    }
    &__item{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        transition: var(--transition-3s);
        @include mobile {
            width: 75%;
        }
        @include mb{
            width: 100%;
        }
        &:hover{
            scale: 1.05;
            @include small-tablet{
                scale: 1;
            }
        }
        &-header{
            display: flex;
            justify-content: center;
            padding: 8px 0;
            background-color: var(--color-link);
            width: 75%;
            border-radius: var(--rounded-lg) var(--rounded-lg) 0 0;
            font-weight: 500;
        }
        &-block{
            background-color: var(--color-link);
            border-radius: var(--rounded-lg);
            height: 100%;
            width: 100%;
        }
        &-image{
            width: 100%;
            border-radius: var(--rounded-lg) var(--rounded-lg) 0 0;
        }
        &-description{
            padding: 20px;
            font-size: 22px;
            text-align: center;
        }
    }
}