.welcome{
    height: calc(var(--container-height) - var(--header-height));
    &__container{
        height: 100%;
        position: relative;
    }
    &__left{
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 999;
        @include small-tablet{
            width: 100%;
            align-items: center;
        }
    }
    &__right{
        height: 100%;
    }
    &__title{
        @include small-tablet{
            text-align: center;
        }
    }
    &__description{
        color: var(--color-primary-secondary);
        @include small-tablet{
            text-align: center;
        }
    }
    &__button{
        margin-top: 100px;
    }
    &__image{
        &-parallax{
            position: absolute;
            z-index: 0;
            width: 960px;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            filter: drop-shadow(30px 45px 5px rgba(0, 0, 0, 0.25));
        }
    }
}