.welcome{
    height: calc(var(--container-height) - var(--header-height));
    @include small-tablet{
        height: auto;
        padding: 10px 0;
    }
    @include mb{
        height: 100%;
    }
    &__container{
        height: 100%;
        position: relative;
    }
    &__left{
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 999;
        @include small-tablet{
            width: 100%;
            align-items: center;
        }
    }
    &__right{
        height: 100%;
    }
    &__title{
        @include small-tablet{
            text-align: center;
        }
        @include mb{
            font-size: 40px;
        }
    }
    &__description{
        color: var(--color-primary-secondary);
        width: 600px;
        @include small-tablet{
            width: 100%;
            text-align: center;
        }
        @include mb{
            font-size: 32px;
        }
    }
    &__button{
        margin-top: 100px;
        @include small-tablet{
            margin-top: 20px;
        }
    }
    &__image{
        &-parallax{
            position: absolute;
            z-index: 0;
            width: 960px;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            filter: drop-shadow(30px 45px 5px rgba(0, 0, 0, 0.25));
        }
    }
}